# Python
__pycache__/
*.py[oc]
/build/
/dist/
wheels/
*.egg-info
.venv
db.sqlite3
*.db
apps/api/tests/test.sqlite3

# Env
.env
.idea


# Node / Next
node_modules
.next
apps/web/.next
staticfiles/
media/
